.form_wrapper{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 30px 60px;
}
form{
     width: 350px;
     border-radius: 8px;
     padding: 25px;
     background: #fff;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 7px 16px;
     transition: all 0.3s ease-in;
     color: #000;
}

form:hover{
     /* box-shadow: rgba(149, 157, 165, 0.2) 0px 14px 29px; */
     box-shadow: rgba(17, 12, 46, 0.15) 0px 32px 40px 0px;
}

input{
     padding: 12px 4px;
     border: 1px solid #dadada;
     outline: none;
     border-radius: 5px;
     margin-bottom: 8px;
     transition: all 0.2s ease-in;
     font-family: 'Montserrat', sans-serif;

}

textarea{
  font-family: 'Montserrat', sans-serif;
}

input:hover{
     box-shadow: rgba(0, 0, 0, 0.15) 1px 1.1px 3px;
}

select{
     margin: 8px 0;
}

.size_input{
     display: flex;
}

.size_input input{
     margin-right: 8px;
     margin-left: 2px;
}

#check{
     margin: 15px 0;
     margin-right: 8px;
}

.noCloths{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     background: #fff;
     text-align: center;
     border-radius: 9px;
     height: 50px;
}

form button{
     padding: 8px 0;
     font-size: 16px;
     border: none;
     background: rgb(165, 244, 255);
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     transition: all 0.2s ease;
}

form button:hover{
     letter-spacing: 1px;
}

.noCloths h1{
     font-weight: 400;
     color: #212121;
}


.size_input h4{
     margin-right: 10px;
}

label{
     font-size: 14px;
}

#radio{
     width: 15px;
     height: 15px;
}

select{
     width: 90px;
     height: 22px;
     border: 1px solid #dadada;
     border-radius: 5px;
}

select option{
     font-family: 'Montserrat', sans-serif;
}

.table_wapper{
     width: 870px;
}

td{
     overflow: hidden;
}


.table_container{
     width: 100%;
     background: #fff;
     text-align: left;
     border-radius: 8px;
     padding: 5px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.removeAll_btn{
     width: 200px;
     padding: 6px 22px;
     font-size: 22px;
     background: rgb(255, 255, 255);
     font-family: 'Montserrat', sans-serif;
     border: none;
     outline: none;
     border-radius: 15px;
     background: rgb(165, 244, 255);
     letter-spacing: 1px;
     transition: all 0.2s ease;
}

.removeAll_btn:hover{
     letter-spacing: 0;
}

table{
     width: 100%;
}

table th, td{
     padding: 5px;
}

hr{
     position: absolute;
     width: 850px;
}

.removeall-btn-container{
     margin-top: 10px;
     width: 100%;
     display: flex;
     justify-content: center;
}

